.chat-view {
  background-color: #f5f5f5;
}
.chat-view .tab-contact {
  left: 55px !important;
  right: 55px !important;
  padding: 5px 0;
}
.chat-view .tab-contact .content {
  width: 160px;
  margin: 2px auto;
  border: 1px solid #fa5c1f;
  border-radius: 3px;
  height: 30px;
  line-height: 28px;
}
.chat-view .tab-contact .content a {
  width: 50%;
  display: block;
  float: left;
  text-align: center;
  font-weight: 400;
  height: 28px;
  font-size: 14px;
  color: #fa5c1f;
}
.chat-view .tab-contact .content a.active {
  background-color: #fa5c1f;
  color: #fff;
}
.chat-view .tab-contact .content a:first-child {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.chat-view .tab-contact .content a:last-child {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.chat-view .bar-subheader {
  background-color: #cecece;
  padding: 8px 10px;
}
.chat-view .bar-subheader label {
  width: 100%;
  border-radius: 8px;
}
.chat-view .list .item {
  position: relative;
  min-height: 60px;
  background-color: #f5f5f5;
}
.chat-view .list .item .item-content {
  background-color: #f5f5f5;
}
.chat-view .list .item img {
  top: 15px;
  left: 10px;
}
.chat-view .list .item .time {
  position: absolute;
  right: 10px;
  top: 13px;
  font-size: 11px;
  color: #666;
}
.chat-view .list .item h2 {
  font-size: 14px;
  color: #666;
}
.chat-view .list .item p {
  font-size: 13px;
  color: #666;
}
.chat-view .list .item.not-read .time,
.chat-view .list .item.not-read h2,
.chat-view .list .item.not-read p {
  color: #000;
}
.chat-view .list .item.not-read .time,
.chat-view .list .item.not-read h2 {
  font-weight: 600;
}
.chat-view .list .item .number-read {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 11px;
  color: #fff;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 20px;
}
.chat-view .item-content {
  padding: 15px;
  padding-left: 60px;
  min-height: 60px;
}
.chat-detail-view {
  background-color: #f3f3f3;
}
.chat-detail-view .has-subfooter {
  bottom: 88px !important;
}
.chat-detail-view .bg-contact {
  height: 200px;
  overflow: hidden;
}
.chat-detail-view .bg-contact img {
  width: 100%;
}
.chat-detail-view .contact-button {
  padding: 20px 0;
}
.chat-detail-view .contact-button button {
  width: 130px;
  font-size: 14px;
  border-radius: 25px;
}
.chat-detail-view body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.chat-detail-view .messages {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}
.chat-detail-view .messages li {
  display: block;
  clear: both;
  max-width: 50%;
  margin: 0 0 10px 0;
  padding: 0;
}
.chat-detail-view .messages li.from {
  float: right;
}
.chat-detail-view .messages li.from img {
  float: right;
}
.chat-detail-view .messages p {
  border-radius: 15px;
  background: #fff;
  color: #383641;
  padding: 5px 15px;
  margin: 0;
  font-size: 13px;
  float: left;
}
.chat-detail-view .messages li.from p {
  background: #158ffe;
  color: #fff;
  text-align: right;
  float: right;
}
.chat-detail-view .messages img {
  display: block;
  max-width: 65%;
  border-radius: .75rem;
}
.chat-detail-view .messages li .time {
  font-size: 10px;
  clear: both;
}
.chat-detail-view .messages li.from .time {
  text-align: right;
}
.chat-detail-view .bar-subfooter {
  height: 88px;
  bottom: 0;
  display: block;
}
.chat-detail-view .bar-subfooter input {
  padding-left: 5px;
  width: 100%;
}
.chat-detail-view .bar-subfooter .button-send {
  width: 44px;
  border-radius: 50%;
  font-size: 24px;
  position: relative;
  top: 18px;
  right: 5px;
  height: 44px;
  text-align: center;
  min-width: 44px;
}
.chat-detail-view .bar-subfooter .input-chat {
  width: 100%;
  height: 44px;
}
.chat-detail-view .bar-subfooter .add-emoji i {
  font-size: 24px;
  padding: 0 10px;
  color: #888;
}
.emoji-modal .bar-header ul li {
  padding: 10px;
  border-bottom: 1px solid transparent;
}
.emoji-modal .bar-header ul li.active {
  border-bottom: 1px solid #6b46e5;
}
.emoji-modal ion-content ul {
  overflow: hidden;
  padding: 5px;
}
.emoji-modal ion-content ul li {
  display: block;
  float: left;
  padding: 5px;
  width: 11.11111111%;
  text-align: center;
}
.create-group .bar-subheader {
  background-color: #cecece;
  padding: 8px 10px;
}
.create-group .bar-subheader label {
  width: 100%;
  border-radius: 8px;
}
.create-group .create-group-view .item-content {
  position: relative;
}
.create-group .create-group-view .item-content img {
  float: left;
  margin-right: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.create-group .create-group-view .item-content img.icon-phone {
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  top: 10px;
}
